DBHOST=
DBPORT=
DBUSER=
DBPASSWORD=
DBNAME=

DBT_PROJECT_DIR=

# for bigquery
GOOGLE_APPLICATION_CREDENTIALS=<path_to_service_account_json_creds_file>
BIQUERY_LOCATION=<location of the project>

# pytest related
# postgres
TEST_PG_DBHOST=
TEST_PG_DBPORT=
TEST_PG_DBUSER=
TEST_PG_DBPASSWORD=
TEST_PG_DBNAME=

# bigquery
TEST_BG_SERVICEJSON='<entire json in single quotes>'
TEST_BG_LOCATION=
TEST_BG_DATASET=