DBHOST=
DBPORT=
DBUSER=
DBPASSWORD=
DBNAME=

DBT_PROJECT_DIR=

# for bigquery
GOOGLE_APPLICATION_CREDENTIALS=<path_to_service_account_json_creds_file>
BIQUERY_LOCATION=<location of the project>

# sample data seed credentials
# postgres
TEST_PG_DBHOST=
TEST_PG_DBPORT=
TEST_PG_DBUSER=
TEST_PG_DBPASSWORD=
TEST_PG_DBNAME=
TEST_PG_DBSCHEMA_SRC=

# bigquery
TEST_BG_SERVICEJSON=
TEST_BG_LOCATION=
TEST_BG_DATASET_SRC=